<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <WweSmQuoteSetting>
            <third>
                <serviceOptions>GND,3DS,2DA,2DM,1DP,1DA,1DM</serviceOptions>
            </third>
        </WweSmQuoteSetting>
        <carriers>
            <ENWweSmpkg>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <price>0</price>
                <model>Eniture\WweSmallPackageQuotes\Model\Carrier\WweSmpkgShipping</model>
                <allowed_methods>GND,3DS,2DA,2DM,1DP,1DA,1DM</allowed_methods>
                <name>Fixed</name>
                <title>Worldwide Small Package Quotes</title>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
            </ENWweSmpkg>
        </carriers>
    </default>
</config>